/*
 * AttendanceTable
 */
.list {
  width: 100%;
  background: #fff;
  margin-top: 26px;
}

.list__ttl-day {
  width: 80px;
}

.list__ttl-start, .list__ttl-end, .list__ttl-breake {
  width: 120px;
}

.list__ttl-remarks {
  width: 400px;
}

.list__ttl-edit {
  width: 80px;
}

.list__edit {
  color: base;
}

table {
  border: 1px solid #999;
}

th, td {
  height: 38px;
  line-height: 38px;
  text-align: center;
  border: 1px solid #999;
}
