/*
 *  global
 */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

@font-face {
  font-family: 'KiwiMaru';
  font-style: normal;
  font-weight: 400;
  src: url("~@/assets/fonts/KiwiMaru/KiwiMaru-Medium.ttf") format("truetype");
}

body {
  background: #E5E5E5;
}
