/*
 * Header
 */
.header {
  height: 60px;
  background: #fff;
  &__container {
    display:flex;
    justify-content: space-between;
    margin: 0 60px;
  }
  &__logo {
      img {
      width: 240px;
      height: 40px;
      margin-top: 10px;
    }
  }
  &__nav {
    display: flex;
    line-height: 60px;
    position: relative;
  }
  &__user {
    margin-right: 20px;
    font-family: $main-font;
  }
  &__logout {
    font-size: 24px;
    color: $base-color;
    margin-right: 20px;
  }
  &__tab {
    position: absolute;
    top: 60px;
    right: -10px;
    background: $base-color;
    text-align: center;
    color: white;
    & button {
      display: block;
      width: 80px;
      height: 40px;
      line-height: 30px;
      font-size: 12px;
      border: 1px solid #fff;
    }
  }
}