/*
 * Header
 */
.header {
  height: 60px;
  background: $base-color;
  &__container {
    display:flex;
    justify-content: space-between;
    margin: 0 60px;
  }
  &__logo {
      img {
      width: 240px;
      height: 40px;
      margin-top: 10px;
    }
  }
  &__nav {
    display: flex;
    line-height: 60px;
    position: relative;
  }
  &__user_name {
    margin-right: 20px;
    color: #fff;
    font-family: $main-font;
  }
  &__logout {
    font-size: 24px;
    color: #fff;
    margin-right: 20px;
  }
  &__tab {
    position: absolute;
    top: 60px;
    right: -10px;
    background: #fff;
    text-align: center;
    font-family: $main-font;
    font-weight: bold;
    color: $base-color;
    z-index: 100;
    & button {
      display: block;
      width: 100px;
      height: 40px;
      line-height: 30px;
      font-size: 14px;
      border: 1px solid $base-color;
    }
  }

  &__admin {
    height: 60px;
    background: #fff;
  }
  &__admin_name {
    margin-right: 20px;
    color: $base-color;
    font-family: $main-font;
  }
  &__admin_logout {
    font-size: 24px;
    color: $base-color;
    margin-right: 20px;
  }
}